<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="E:\_Temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Targets.RabbitMQ" />
  </extensions>

  <targets>
    <target name="RabbitMQTarget"
            xsi:type="RabbitMQ"
            username="guest"
            password="guest"
            hostname="localhost"
            port="5672"
            exchange="logs"
            vhost="/"
            durable="true"
            appid="LogsEmit"
            useJSON="false"
            compression="none">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target name="logfile" xsi:type="File" fileName="E:\_Temp\file.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="RabbitMQTarget"/>
  </rules>
</nlog>