<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="E:\_Temp\nlog-internal.log" >

	<extensions>
		<add assembly="NLog.Targets.RabbitMQ" />
	</extensions>

	<targets>
		<!--<target name="RabbitMQTarget"
				xsi:type="RabbitMQ"
				hostname="sony-dev"
				username="sony.app"
				password="711F1'7R48~4BxM"
				exchange="sony.logs"
				topic="{0}"
				durable="true"
				useJSON="false">-->
		<target name="RabbitMQTarget"
				xsi:type="RabbitMQ"
				hostname="localhost"
				username="guest"
				password="guest"
				exchange="logs"
				topic="{0}"
				durable="true"
				useJSON="false">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}"/>
				<attribute name="application" layout="${appdomain:format={1\}}"/>
				<attribute name="machine" layout="${machinename}"/>
        <attribute name="activityid" layout="${activityid}"/>
				<attribute name="logger" layout="${logger}"/>
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

		<target name="logfile" xsi:type="File" fileName="E:\_Temp\file.txt" />
		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="RabbitMQTarget"/>
	</rules>
</nlog>