<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NMonitor.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <NMonitor.WPF.Properties.Settings>
            <setting name="RabbitMQHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitMQUser" serializeAs="String">
                <value />
            </setting>
            <setting name="RabbitMQPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RabbitMQExchange" serializeAs="String">
                <value />
            </setting>
            <setting name="RabbitMQExchangeType" serializeAs="String">
                <value>topic</value>
            </setting>
            <setting name="RabbitMQRoutingKey" serializeAs="String">
                <value>#</value>
            </setting>
        </NMonitor.WPF.Properties.Settings>
    </userSettings>
</configuration>